config_db.php
config_db_notas.php
config_app_key.php
google_drive_config.php
vendor/
.security/
uploads/*
!uploads/.htaccess
downloads/*
!downloads/.htaccess
certificados-nfse/*
!certificados-nfse/.htaccess
Planilhas/
__pycache__/
*.pyc
IMPORTAR_*.sql
importar_empresas_funcionarios.sql
importar_funcionarios_acesso.sql
atualizar_dados_folha_funcionarios.sql
documentos-fiscais-privados/*
!documentos-fiscais-privados/.htaccess
